/* 
main in color : 00d779
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.custom-container {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.custom-container-2 {
    max-width: 1120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-color {
    color: #00d779;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

.bg-main-color {
    background-color: #00d779;
    color: #fff;
}

.bg-main-color:hover {
    background-color: #00d779;
    color: #fff;
}

.coach-wrap h1 {
    color: #fff;
}

.coach-wrap p {
    padding-right: 60px;
}

.title-heading {
    font-size: 24px;
}

.main-wrap-first-img {
    margin-top: 70px;
}

.main-wrap-last-img {
    margin-bottom: 50px;
}

.border-content {
    border-radius: 30px;
}

.border-img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.free-trial-btn {
    width: fit-content;
}

.best-class-inner-container {
    padding: 110px 120px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer-title {
    font-size: 1.25rem;
    padding-left: 0px;
}

.footer-border {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 50px 70px;
    padding-bottom: 70px;
    background-color: #000;
}

.column-3 h5 {
    font-size: 15px !important;
    padding-top: 5px;
}

.coach-img img {
    position: relative;
    left: -58px;
    z-index: -1;
    height: 100%;
    max-width: 106%;
    object-fit: cover;
}

.footer-spacer {
    background-color: #000;
    padding-top: 15px;
}

.academy {
    padding-bottom: 30px;
}






/***************************************************************************************
Arenas style page.
*******************************************************************************************/
.banner-heading a {
    padding: 10px 55px;
}

.card {
    border: 2px solid #00d779;
    border-radius: 15px;
}

.card h5 {
    font-size: 17px;
    font-weight: 700;
}

.card-text {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card a {
    font-size: 12px;
    font-weight: 500;
}

.card-game {
    font-size: 12px;
    font-style: italic;
}

.card img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 200px;
}



/*  media query for pad having size of 1024 */
@media (max-width:1024px) {

    .subheading {
        font-size: 13px;
    }

    .title-heading {
        font-size: 18px;
    }

    .coach-wrap {
        padding: 45px 0px;
    }

    .best-class-inner-container {
        padding: 88px 39px;
    }

    .custom-container {
        max-width: 95%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-container-2 {
        max-width: 1120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .academy {
        padding-bottom: 0px;
    }

}


/*  media query for pad having size of 991 */

@media (max-width: 991px) {
    .coach-img img {
        max-width: 100%;
        left: unset;
    }

    .coach-education img {
        z-index: 10;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .coach-wrap {
        position: relative;
        top: -25px;
    }

    .sports-infrastructure .row img {
        max-width: 500px;
    }

    .border-img {
        border-bottom-right-radius: 0px;
    }

}


/*  media query for pad having size of 768 */

@media (max-width: 768px) {

    h1 {
        font-size: 38px;
    }

    .main-wrap,
    .main-wrap-first-img,
    .main-wrap-last-img {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .coach-wrap {
        padding: 45px 0px;
    }

    .best-class-inner-container {
        padding: 88px 39px;
    }

}


/*  media query for pad having size of 320px */

@media (max-width:320px) {
    h1 {
        font-size: 38px;
    }

    .best-class-inner-container {
        padding: 40px 30px;
    }

    .footer-border {
        padding: 20px 10px;
    }
}