/* color

main color : 00d779

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.heading {
    font-size: 48px;
    font-weight: 600;
}

.subheading {
    font-size: 16px;
}

.title-heading{
    font-size: 24px;
}

.border-content {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.border-img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.main-banner {
    background: url(./img/main.jpg);
    background-size: cover;
    border-radius: 25px;
    background-position-y: -100px;
}


.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
/* 
.feature-img{
    position: relative;
}

 .feature-img::before {
    content: "";
    display: block;
    border-radius: 40%;
    position: absolute;
    top: 22%;
    left: 39%;
    width: 60%;
    height: 317px;
    padding-bottom: 45%;
    background-color: #00d779;
    z-index: -1;
}

.feature-img::after {
    content: "";
    display: block;
    border-radius: 40%;
    position: absolute;
    bottom: 22%;
    right: 16%;
    width: 60%;
    height: 317px;
    padding-bottom: 45%;
    background-color: #00d779;
    z-index: -1;
} */


.background-image-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 443px;
    width: 449px;
    z-index: -10;
}


.background-image-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 441px;
    width: 449px;
    z-index: -10;
}




.footer-title{
    font-size: 1.25rem;
}

