/* 
main in color : 00d779
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.custom-container {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.custom-container-2 {
    max-width: 1120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.coach-education .coach-wrap {
    padding: 80px 0px;
}

.main-color {
    color: #00d779;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

.inner-content h2 {
    font-size: 2.5rem;
}

.bg-main-color {
    background-color: #00d779;
    color: #fff;
}

.img-container img {
    padding-bottom: 15px;
}

.bg-main-color:hover {
    background-color: #00d779;
    color: #fff;
}

.coach-wrap h1 {
    color: #fff;
}

.title-heading {
    font-size: 24px;
}

.main-wrap-first-img {
    margin-top: 70px;
}

.main-wrap-last-img {
    margin-bottom: 50px;
}

.border-content {
    border-radius: 30px;
}

.border-img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.free-trial-btn {
    width: fit-content;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 30px;
}

.best-class-inner-container {
    padding: 80px 120px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-bottom: 3px;
}

.footer-title {
    font-size: 1.25rem;
    padding-left: 0px;
}

.footer-border {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 50px 70px;
    padding-bottom: 70px;
    background-color: #000;
}

.column-3 h5 {
    font-size: 15px !important;
    padding-top: 5px;
}

.coach-img img {
    position: relative;
    left: -58px;
    z-index: -1;
    height: 100%;
    max-width: 106%;
    object-fit: cover;
}

.footer-spacer {
    background-color: #000;
    padding-top: 15px;
}

.academy {
    padding-bottom: 30px;
}

.inner-content {
    max-width: 80%;
}



/***************************************************************************************
Arenas style page.
*******************************************************************************************/

.showing-arena{
    font-size: 32px;
}

.card {
    border: 2px solid #00d779;
    border-radius: 15px;
}

.card h5 {
    font-size: 17px;
    font-weight: 700;
}

.card-text {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-game {
    font-size: 12px;
    font-style: italic;
}

.card img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 200px;
}

.arena-btn {
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 30px;
}


/***************************************************************************************
Detail style page.
*******************************************************************************************/

.dps-intern {
    padding: 40px 0px;
}

.sector-50 {
    line-height: 18px;
}

.first-block .coach-img img{
    left: -38px;
}

.owl-carousel .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    background: #000;
}

.owl-carousel .owl-dots button.active {
    background: #00d779;
}

.owl-stage-outer {
    position: relative;
}

.owl-dots {
    position: absolute;
    left: 50%;
    bottom: 0%;
}

.bannerslider,
.owl-stage-outer,
.owl-stage {
    height: 100%;
}

.bannerslider {
    transform: scaleX(1.1);
    z-index: 0;
}

.first-block .row .col-lg-5 {
    z-index: 100 !important;
}

.owl-stage .owl-item {
    height: 100%;
}

.bannerslider .coach-img {
    height: 100%;
}


.all-circle img {
    height: 115px;
}

.owl-carousel-arenas .owl-stage {
    position: relative;
}

.owl-carousel-arenas .owl-nav .owl-prev,
.owl-carousel-arenas .owl-nav .owl-next {
    font-size: 45px !important;
    background: #fff !important;
    border-radius: 50%;
    border: 2px solid #adb5bd !important;
}

.owl-carousel-arenas .owl-prev span{
    padding-bottom: 8px;
    padding-right: 2px;
}

.owl-carousel-arenas .owl-next span{
    padding-bottom: 8px;
    padding-right: 2px;
    padding-left: 4px;
}

.owl-carousel-arenas .owl-prev {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: auto;
    left: -15px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel-arenas .owl-next {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: auto;
    right: -15px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  media query for pad having size of 1024 */
@media (max-width:1024px) {

    .subheading {
        font-size: 13px;
    }

    .title-heading {
        font-size: 18px;
    }

    .coach-wrap {
        padding: 45px 0px;
    }

    .best-class-inner-container {
        padding: 88px 39px;
    }

    .custom-container {
        max-width: 95%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-container-2 {
        max-width: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .academy {
        padding-bottom: 0px;
    }

    .inner-content {
        max-width: 90%;
    }

}


/*  media query for pad having size of 991 */

@media (max-width: 991px) {
    .coach-img img {
        max-width: 100%;
        left: unset;
    }

    .coach-education img {
        z-index: 10;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .coach-wrap {
        position: relative;
        top: -25px;
    }

    .sports-infrastructure .row img {
        max-width: 500px;
    }

    .border-img {
        border-bottom-right-radius: 0px;
    }

}


/*  media query for pad having size of 768 */

@media (max-width: 768px) {

    h1 {
        font-size: 38px;
    }

    .main-wrap,
    .main-wrap-first-img,
    .main-wrap-last-img {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .coach-wrap {
        padding: 45px 0px;
    }

    .best-class-inner-container {
        padding: 88px 39px;
    }

}


/*  media query for pad having size of 320px */

@media (max-width:320px) {
    h1 {
        font-size: 38px;
    }

    .best-class-inner-container {
        padding: 40px 30px;
    }

    .footer-border {
        padding: 20px 10px;
    }
}